In [3]:
import pandas as pd
teams_df =pd.read_csv("C:/Users/Ros/Desktop/JDC/mini project/archive (1)/team_info.csv")

In [11]:
teams_df

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11

In [12]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   team_id       33 non-null     int64
 1   franchiseId   33 non-null     int64
 2   shortName     33 non-null     object
 3   teamName      33 non-null     object
 4   abbreviation  33 non-null     object
 5   link          33 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.7+ KB

In [48]:
teams_df.describe()

         team_id  franchiseId
count  33.000000    33.000000
mean   18.909091    22.969697
std    13.789406    10.038939
min     1.000000     1.000000
25%     9.000000    16.000000
50%    17.000000    24.000000
75%    25.000000    31.000000
max    54.000000    38.000000

In [82]:
games= pd.read_csv("C:/Users/Ros/Desktop/JDC/mini project/archive (1)/game.csv")
games.head(50)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
5,2016020610,20162017,R,2017-01-10T00:30:00Z,15,8,4,1,away win REG,right,Centre Bell,/api/v1/venues/null,America/Montreal,-4,EDT
6,2015020606,20152016,R,2016-01-08T03:30:00Z,10,26,1,2,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
7,2017020240,20172018,R,2017-11-10T03:00:00Z,23,24,1,4,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
8,2017020624,20172018,R,2018-01-05T02:00:00Z,29,21,0,2,home win REG,right,Pepsi Center,/api/v1/venues/null,America/Denver,-6,MDT
9,2015020346,20152016,R,2015-11-29T00:00:00Z,22,5,3,2,away win OT,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
10,2017020221,20172018,R,2017-11-07T01:30:00Z,52,25,4,1,away win REG,right,American Airlines Center,/api/v1/venues/null,America/Chicago,-5,CDT
11,2016020298,20162017,R,2016-11-24T03:30:00Z,2,26,2,4,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
12,2017020731,20172018,R,2018-01-23T02:00:00Z,2,53,2,3,home win OT,left,Gila River Arena,/api/v1/venues/null,America/Phoenix,-7,MST
13,2016020205,20162017,R,2016-11-11T02:00:00Z,52,53,3,2,away win REG,left,Gila River Arena,/api/v1/venues/null,America/Phoenix,-7,MST
14,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
15,2016020107,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
16,2016021020,20162017,R,2017-03-14T01:00:00Z,5,20,3,4,home win OT,right,Scotiabank Saddledome,/api/v1/venues/null,America/Denver,-6,MDT
17,2017020986,20172018,R,2018-03-02T01:30:00Z,14,25,5,4,away win OT,right,American Airlines Center,/api/v1/venues/null,America/Chicago,-5,CDT
18,2017021124,20172018,R,2018-03-20T23:00:00Z,22,12,7,3,away win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
19,2015020981,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
20,2017020146,20172018,R,2017-10-27T00:00:00Z,2,30,4,6,home win REG,right,Xcel Energy Center,/api/v1/venues/null,America/Chicago,-5,CDT
21,2016020716,20162017,R,2017-01-25T00:00:00Z,29,2,2,4,home win REG,left,Barclays Center,/api/v1/venues/null,America/New_York,-4,EDT
22,2017020001,20172018,R,2017-10-04T23:00:00Z,10,52,7,2,away win REG,right,Bell MTS Place,/api/v1/venues/null,America/Winnipeg,-5,CDT
23,2016020933,20162017,R,2017-03-01T03:30:00Z,10,28,1,3,home win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
24,2015021066,20152016,R,2016-03-19T02:00:00Z,6,24,0,4,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
25,2015020086,20152016,R,2015-10-21T00:00:00Z,14,18,4,5,home win OT,left,Bridgestone Arena,/api/v1/venues/null,America/Chicago,-5,CDT
26,2017020482,20172018,R,2017-12-15T00:30:00Z,1,8,1,2,home win OT,right,Centre Bell,/api/v1/venues/null,America/Montreal,-4,EDT
27,2016021163,20162017,R,2017-04-01T23:00:00Z,9,52,2,4,home win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
28,2015020687,20152016,R,2016-01-20T00:30:00Z,22,14,4,6,home win REG,left,Amalie Arena,/api/v1/venues/null,America/New_York,-4,EDT
29,2017020706,20172018,R,2018-01-20T00:30:00Z,8,15,3,2,away win REG,right,Capital One Arena,/api/v1/venues/null,America/New_York,-4,EDT
30,2015020619,20152016,R,2016-01-10T00:00:00Z,10,28,0,7,home win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
31,2017021076,20172018,R,2018-03-14T01:00:00Z,22,20,0,1,home win REG,right,Scotiabank Saddledome,/api/v1/venues/null,America/Denver,-6,MDT
32,2015020562,20152016,R,2016-01-01T02:00:00Z,26,20,4,1,away win REG,right,Scotiabank Saddledome,/api/v1/venues/null,America/Denver,-6,MDT
33,2016020264,20162017,R,2016-11-20T00:00:00Z,10,8,1,2,home win REG,right,Centre Bell,/api/v1/venues/null,America/Montreal,-4,EDT
34,2017021046,20172018,R,2018-03-10T01:30:00Z,24,25,1,2,home win REG,right,American Airlines Center,/api/v1/venues/null,America/Chicago,-5,CDT
35,2015020201,20152016,R,2015-11-07T21:00:00Z,13,26,1,4,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
36,2015020079,20152016,R,2015-10-19T02:00:00Z,21,26,1,2,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
37,2017020214,20172018,R,2017-11-05T23:00:00Z,21,2,4,6,home win REG,left,Barclays Center,/api/v1/venues/null,America/New_York,-4,EDT
38,2016020683,20162017,R,2017-01-20T03:00:00Z,21,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
39,2017020285,20172018,R,2017-11-17T02:00:00Z,15,21,2,6,home win REG,right,Pepsi Center,/api/v1/venues/null,America/Denver,-6,MDT
40,2017020423,20172018,R,2017-12-06T03:00:00Z,12,23,0,3,home win REG,right,Rogers Arena,/api/v1/venues/null,America/Vancouver,-7,PDT
41,2015020516,20152016,R,2015-12-23T03:30:00Z,28,26,5,3,away win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
42,2017020930,20172018,R,2018-02-23T00:00:00Z,2,10,3,4,home win OT,right,Air Canada Centre,/api/v1/venues/null,America/Toronto,-4,EDT
43,2017020301,20172018,R,2017-11-19T00:30:00Z,30,15,1,3,home win REG,right,Capital One Arena,/api/v1/venues/null,America/New_York,-4,EDT
44,2015021029,20152016,R,2016-03-13T03:30:00Z,15,28,2,5,home win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
45,2016020884,20162017,R,2017-02-22T00:00:00Z,5,12,3,1,away win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
46,2017021066,20172018,R,2018-03-12T23:00:00Z,8,29,2,5,home win REG,left,Nationwide Arena,/api/v1/venues/null,America/New_York,-4,EDT
47,2016020906,20162017,R,2017-02-25T22:00:00Z,15,18,2,5,home win REG,left,Bridgestone Arena,/api/v1/venues/null,America/Chicago,-5,CDT
48,2017021087,20172018,R,2018-03-15T23:30:00Z,6,13,0,3,home win REG,right,BB&T Center,/api/v1/venues/null,America/New_York,-4,EDT
49,2016020885,20162017,R,2017-02-22T00:30:00Z,52,10,4,5,home win OT,right,Air Canada Centre,/api/v1/venues/null,America/Toronto,-4,EDT

In [14]:
games.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
       'venue_time_zone_offset', 'venue_time_zone_tz'],
      dtype='object')

In [57]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26305 entries, 0 to 26304
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 26305 non-null  int64
 1   season                  26305 non-null  int64
 2   type                    26305 non-null  object
 3   date_time_GMT           26305 non-null  object
 4   away_team_id            26305 non-null  int64
 5   home_team_id            26305 non-null  int64
 6   away_goals              26305 non-null  int64
 7   home_goals              26305 non-null  int64
 8   outcome                 26305 non-null  object
 9   home_rink_side_start    25109 non-null  object
 10  venue                   26305 non-null  object
 11  venue_link              26305 non-null  object
 12  venue_time_zone_id      26305 non-null  object
 13  venue_time_zone_offset  26305 non-null  int64
 14  venue_time_zone_tz      26305 non-null  object
dtypes: int64(7), object(8)
memory usage: 3.0+ MB

In [83]:
games.describe()

,game_id,season,away_team_id,home_team_id,away_goals,home_goals,venue_time_zone_offset
count,2.630500e+04,2.630500e+04,26305.000000,26305.000000,26305.000000,26305.000000,26305.000000
mean,2.010765e+09,2.010945e+07,16.879377,16.881429,2.687968,2.958981,-5.066147
std,6.073568e+06,6.073849e+04,11.184920,11.205625,1.619068,1.689031,1.210145
min,2.000020e+09,2.000200e+07,1.000000,1.000000,0.000000,0.000000,-8.000000
25%,2.006020e+09,2.006201e+07,8.000000,8.000000,1.000000,2.000000,-6.000000
50%,2.011021e+09,2.011201e+07,16.000000,16.000000,3.000000,3.000000,-5.000000
75%,2.016030e+09,2.016202e+07,24.000000,24.000000,4.000000,4.000000,-4.000000
max,2.019041e+09,2.019202e+07,90.000000,90.000000,11.000000,12.000000,-4.000000

In [84]:
games

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,2018030415,20182019,P,2019-06-07T00:00:00Z,19,6,2,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26301,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26302,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26303,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26304,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST

In [85]:

# Convert 'date_time_GMT' column to datetime format
games['date_time_GMT'] = pd.to_datetime(games['date_time_GMT'], format='%Y-%m-%dT%H:%M:%SZ')

# Convert datetime format to 'mm-dd-yyyy hh:mm' format
games['date_time_GMT'] = games['date_time_GMT'].dt.strftime('%m-%d-%Y %H:%M')

# Display the DataFrame with the updated 'date_time_GMT' column
#print(games)
games.head(50)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,10-19-2016 00:30,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,02-07-2018 00:00,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,11-24-2015 01:00,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,02-17-2016 00:00,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,12-30-2017 03:00,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
5,2016020610,20162017,R,01-10-2017 00:30,15,8,4,1,away win REG,right,Centre Bell,/api/v1/venues/null,America/Montreal,-4,EDT
6,2015020606,20152016,R,01-08-2016 03:30,10,26,1,2,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
7,2017020240,20172018,R,11-10-2017 03:00,23,24,1,4,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
8,2017020624,20172018,R,01-05-2018 02:00,29,21,0,2,home win REG,right,Pepsi Center,/api/v1/venues/null,America/Denver,-6,MDT
9,2015020346,20152016,R,11-29-2015 00:00,22,5,3,2,away win OT,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
10,2017020221,20172018,R,11-07-2017 01:30,52,25,4,1,away win REG,right,American Airlines Center,/api/v1/venues/null,America/Chicago,-5,CDT
11,2016020298,20162017,R,11-24-2016 03:30,2,26,2,4,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
12,2017020731,20172018,R,01-23-2018 02:00,2,53,2,3,home win OT,left,Gila River Arena,/api/v1/venues/null,America/Phoenix,-7,MST
13,2016020205,20162017,R,11-11-2016 02:00,52,53,3,2,away win REG,left,Gila River Arena,/api/v1/venues/null,America/Phoenix,-7,MST
14,2016020246,20162017,R,11-18-2016 00:00,52,4,2,5,home win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
15,2016020107,20162017,R,10-28-2016 23:30,16,1,3,2,away win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
16,2016021020,20162017,R,03-14-2017 01:00,5,20,3,4,home win OT,right,Scotiabank Saddledome,/api/v1/venues/null,America/Denver,-6,MDT
17,2017020986,20172018,R,03-02-2018 01:30,14,25,5,4,away win OT,right,American Airlines Center,/api/v1/venues/null,America/Chicago,-5,CDT
18,2017021124,20172018,R,03-20-2018 23:00,22,12,7,3,away win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
19,2015020981,20152016,R,03-06-2016 22:00,5,1,6,1,away win REG,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
20,2017020146,20172018,R,10-27-2017 00:00,2,30,4,6,home win REG,right,Xcel Energy Center,/api/v1/venues/null,America/Chicago,-5,CDT
21,2016020716,20162017,R,01-25-2017 00:00,29,2,2,4,home win REG,left,Barclays Center,/api/v1/venues/null,America/New_York,-4,EDT
22,2017020001,20172018,R,10-04-2017 23:00,10,52,7,2,away win REG,right,Bell MTS Place,/api/v1/venues/null,America/Winnipeg,-5,CDT
23,2016020933,20162017,R,03-01-2017 03:30,10,28,1,3,home win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
24,2015021066,20152016,R,03-19-2016 02:00,6,24,0,4,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
25,2015020086,20152016,R,10-21-2015 00:00,14,18,4,5,home win OT,left,Bridgestone Arena,/api/v1/venues/null,America/Chicago,-5,CDT
26,2017020482,20172018,R,12-15-2017 00:30,1,8,1,2,home win OT,right,Centre Bell,/api/v1/venues/null,America/Montreal,-4,EDT
27,2016021163,20162017,R,04-01-2017 23:00,9,52,2,4,home win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
28,2015020687,20152016,R,01-20-2016 00:30,22,14,4,6,home win REG,left,Amalie Arena,/api/v1/venues/null,America/New_York,-4,EDT
29,2017020706,20172018,R,01-20-2018 00:30,8,15,3,2,away win REG,right,Capital One Arena,/api/v1/venues/null,America/New_York,-4,EDT
30,2015020619,20152016,R,01-10-2016 00:00,10,28,0,7,home win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
31,2017021076,20172018,R,03-14-2018 01:00,22,20,0,1,home win REG,right,Scotiabank Saddledome,/api/v1/venues/null,America/Denver,-6,MDT
32,2015020562,20152016,R,01-01-2016 02:00,26,20,4,1,away win REG,right,Scotiabank Saddledome,/api/v1/venues/null,America/Denver,-6,MDT
33,2016020264,20162017,R,11-20-2016 00:00,10,8,1,2,home win REG,right,Centre Bell,/api/v1/venues/null,America/Montreal,-4,EDT
34,2017021046,20172018,R,03-10-2018 01:30,24,25,1,2,home win REG,right,American Airlines Center,/api/v1/venues/null,America/Chicago,-5,CDT
35,2015020201,20152016,R,11-07-2015 21:00,13,26,1,4,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
36,2015020079,20152016,R,10-19-2015 02:00,21,26,1,2,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
37,2017020214,20172018,R,11-05-2017 23:00,21,2,4,6,home win REG,left,Barclays Center,/api/v1/venues/null,America/New_York,-4,EDT
38,2016020683,20162017,R,01-20-2017 03:00,21,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
39,2017020285,20172018,R,11-17-2017 02:00,15,21,2,6,home win REG,right,Pepsi Center,/api/v1/venues/null,America/Denver,-6,MDT
40,2017020423,20172018,R,12-06-2017 03:00,12,23,0,3,home win REG,right,Rogers Arena,/api/v1/venues/null,America/Vancouver,-7,PDT
41,2015020516,20152016,R,12-23-2015 03:30,28,26,5,3,away win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
42,2017020930,20172018,R,02-23-2018 00:00,2,10,3,4,home win OT,right,Air Canada Centre,/api/v1/venues/null,America/Toronto,-4,EDT
43,2017020301,20172018,R,11-19-2017 00:30,30,15,1,3,home win REG,right,Capital One Arena,/api/v1/venues/null,America/New_York,-4,EDT
44,2015021029,20152016,R,03-13-2016 03:30,15,28,2,5,home win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
45,2016020884,20162017,R,02-22-2017 00:00,5,12,3,1,away win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
46,2017021066,20172018,R,03-12-2018 23:00,8,29,2,5,home win REG,left,Nationwide Arena,/api/v1/venues/null,America/New_York,-4,EDT
47,2016020906,20162017,R,02-25-2017 22:00,15,18,2,5,home win REG,left,Bridgestone Arena,/api/v1/venues/null,America/Chicago,-5,CDT
48,2017021087,20172018,R,03-15-2018 23:30,6,13,0,3,home win REG,right,BB&T Center,/api/v1/venues/null,America/New_York,-4,EDT
49,2016020885,20162017,R,02-22-2017 00:30,52,10,4,5,home win OT,right,Air Canada Centre,/api/v1/venues/null,America/Toronto,-4,EDT

In [16]:
venue_df=games[['venue','venue_time_zone_id','venue_time_zone_offset', 'venue_time_zone_tz', 'venue_link']]
venue_df

,venue,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,venue_link
0,United Center,America/Chicago,-5,CDT,/api/v1/venues/null
1,KeyBank Center,America/New_York,-4,EDT,/api/v1/venues/null
2,MTS Centre,America/Winnipeg,-5,CDT,/api/v1/venues/null
3,PNC Arena,America/New_York,-4,EDT,/api/v1/venues/null
4,Honda Center,America/Los_Angeles,-7,PDT,/api/v1/venues/null
...,...,...,...,...,...
26300,TD Garden,America/New_York,-5,EST,/api/v1/venues/5085
26301,Enterprise Center,America/Chicago,-6,CST,/api/v1/venues/5076
26302,Enterprise Center,America/Chicago,-6,CST,/api/v1/venues/5076
26303,TD Garden,America/New_York,-5,EST,/api/v1/venues/5085
26304,TD Garden,America/New_York,-5,EST,/api/v1/venues/5085

In [17]:
venue_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26305 entries, 0 to 26304
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   venue                   26305 non-null  object
 1   venue_time_zone_id      26305 non-null  object
 2   venue_time_zone_offset  26305 non-null  int64
 3   venue_time_zone_tz      26305 non-null  object
 4   venue_link              26305 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [53]:
games_teams_stats= pd.read_csv("C:/Users/Ros/Desktop/JDC/mini project/archive (1)/game_teams_stats.csv")

In [54]:
games_teams_stats

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52605,2018030416,19,home,False,REG,Craig Berube,1.0,29.0,29.0,20.0,4.0,0.0,58.7,12.0,11.0,9.0,right
52606,2018030417,19,away,True,REG,Craig Berube,4.0,20.0,36.0,2.0,0.0,0.0,49.0,7.0,8.0,21.0,right
52607,2018030417,6,home,False,REG,Bruce Cassidy,1.0,33.0,28.0,0.0,1.0,0.0,51.0,13.0,6.0,7.0,right
52608,2018030417,19,away,True,REG,Craig Berube,4.0,20.0,36.0,2.0,0.0,0.0,49.0,7.0,8.0,21.0,right
52609,2018030417,6,home,False,REG,Bruce Cassidy,1.0,33.0,28.0,0.0,1.0,0.0,51.0,13.0,6.0,7.0,right

In [6]:
games_teams_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52610 entries, 0 to 52609
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 52610 non-null  int64
 1   team_id                 52610 non-null  int64
 2   HoA                     52610 non-null  object
 3   won                     52610 non-null  bool
 4   settled_in              52610 non-null  object
 5   head_coach              52582 non-null  object
 6   goals                   52602 non-null  float64
 7   shots                   52602 non-null  float64
 8   hits                    47682 non-null  float64
 9   pim                     52602 non-null  float64
 10  powerPlayOpportunities  52602 non-null  float64
 11  powerPlayGoals          52602 non-null  float64
 12  faceOffWinPercentage    30462 non-null  float64
 13  giveaways               47682 non-null  float64
 14  takeaways               47682 non-null  float64
 15  blocked                 47682 non-null  float64
 16  startRinkSide           50218 non-null  object
dtypes: bool(1), float64(10), int64(2), object(4)
memory usage: 6.5+ MB

In [55]:
games_teams_stats.derscribe()

AttributeError: 'DataFrame' object has no attribute 'derscribe'

In [22]:
coach= games_teams_stats[['head_coach','team_id']]
coach['head_coach'].unique()

array(['Dave Hakstol', 'Joel Quenneville', 'Randy Carlyle',
       'Phil Housley', 'Patrick Roy', 'Paul Maurice', 'Bill Peters',
       'Glen Gulutzan', 'Barry Trotz', 'Michel Therrien', 'Mike Babcock',
       'Darryl Sutter', 'Travis Green', 'John Tortorella', 'Jared Bednar',
       'Todd McLellan', 'Mike Johnston', 'Ken Hitchcock', 'Jack Capuano',
       'Doug Weight', 'Rick Tocchet', 'Dave Tippett', 'John Hynes',
       'Mike Sullivan', 'Jon Cooper', 'Bruce Boudreau', 'Peter DeBoer',
       'Claude Julien', 'Peter Laviolette', 'Guy Boucher', 'Guy Charron',
       'Bob Hartley', 'Gerard Gallant', 'Bruce Cassidy', 'Bob Boughner',
       'John Torchetti', 'John Stevens', 'Alain Vigneault', 'Lindy Ruff',
       'Jeff Blashill', 'Bill Barber', 'Dan Bylsma', 'Willie Desjardins',
       'Tom Rowe', 'Mike Yeo', 'Dave Cameron', 'Marc Crawford',
       'Todd Richards', 'Bob Francis', 'Craig Hartsburg', 'Curt Fraser',
       'Dave King', 'Andy Murray', 'Don Hay', 'Ron Low', 'Dallas Eakins',
       'Craig Berube', 'Peter Horachek', 'Todd Nelson', 'Ted Nolan',
       'Adam Oates', 'Ivan Hlinka', 'Paul MacLean', 'Craig MacTavish',
       'Larry Robinson', 'Kirk Muller', 'Ron Rolston', 'Claude Noel',
       'Kevin Dineen', 'Joe Sacco', 'Ralph Krueger', 'Ron Wilson',
       'Duane Sutter', 'Martin Raymond', 'Mike Keenan', 'Dan Lacroix',
       'Rick Kehoe', 'Pat Quinn', 'Rick Wilson', 'Brian Sutter',
       'Brent Sutter', 'Cory Clouston', 'Terry Murray', 'Davis Payne',
       'Jacques Martin', 'Scott Arniel', 'Jacques Lemaire', 'Tom Renney',
       'Craig Ramsay', 'John MacLean', 'Randy Cunneyworth', 'Dale Hunter',
       'Scott Gordon', 'John Anderson', 'Guy Carbonneau', 'Barry Melrose',
       'Tony Granato', 'Wayne Gretzky', 'Bob Gainey', 'Denis Savard',
       'John Paddock', 'Glen Hanlon', 'Don Waddell', 'Bryan Murray',
       'Al Arbour', 'Jim Playfair', 'Dave Lewis', 'Trent Yawney',
       'Mike Kitchen', 'Lou Lamoriello', 'Gary Agnew', 'Bryan Trottier',
       'Pat Burns', 'Greg Gilbert', 'Robbie Ftorek', 'Doug MacLean',
       'Glen Sather', "Mike O'Connell", "Terry O'Reilly", 'Al MacNeil',
       'Cap Raeder', 'Rick Dudley', 'Eddie Olczyk', 'Steve Stirling',
       'Rick Bowness', 'Brad Shaw', 'Scotty Bowman', 'Butch Goring',
       'Steve Ludzik', 'Lorne Henning', 'Alpo Suhonen',
       'DENIS SAVARD & AL MA', 'Kevin Constantine', 'Roger Neilson', nan,
       'D.J. Smith', 'Todd Reirden', 'David Quinn', "Rod Brind'Amour",
       'Jim Montgomery', 'Jeremy Colliton', 'Sheldon Keefe', 'Geoff Ward',
       'Alain Nasreddine', 'Dean Evason', 'Eddie Oatman', 'Bob Murray'],
      dtype=object)

In [23]:
coach['head_coach'].nunique()

146

In [24]:
coach

             head_coach  team_id
0          Dave Hakstol        4
1      Joel Quenneville       16
2         Randy Carlyle       24
3          Phil Housley        7
4           Patrick Roy       21
...                 ...      ...
52605      Craig Berube       19
52606      Craig Berube       19
52607     Bruce Cassidy        6
52608      Craig Berube       19
52609     Bruce Cassidy        6

[52610 rows x 2 columns]

In [29]:
coach_df= coach[['head_coach','team_id']].drop_duplicates()
coach_df

             head_coach  team_id
0          Dave Hakstol        4
1      Joel Quenneville       16
2         Randy Carlyle       24
3          Phil Housley        7
4           Patrick Roy       21
...                 ...      ...
49241      Scott Gordon        4
50251        Jon Cooper       87
50253      Paul Maurice       89
50677        Bob Murray       24
51180     Marc Crawford        9

[252 rows x 2 columns]

In [31]:
#coach_df= coach_df.reset_index(drop=True)
coach_df.head(50)

            head_coach  team_id
0         Dave Hakstol        4
1     Joel Quenneville       16
2        Randy Carlyle       24
3         Phil Housley        7
4          Patrick Roy       21
5         Paul Maurice       52
7          Bill Peters       12
8        Glen Gulutzan       20
10         Barry Trotz       15
11     Michel Therrien        8
12        Mike Babcock       10
13       Darryl Sutter       26
14        Travis Green       23
16     John Tortorella       29
17        Jared Bednar       21
18       Todd McLellan       22
19       Mike Johnston        5
21       Ken Hitchcock       25
22        Jack Capuano        2
24         Doug Weight        2
25        Rick Tocchet       53
27        Dave Tippett       53
31          John Hynes        1
32       Mike Sullivan        5
34          Jon Cooper       14
41      Bruce Boudreau       30
47        Peter DeBoer       28
48       Claude Julien        6
49      Bruce Boudreau       24
51    Peter Laviolette       18
53       Claude Julien        8
54         Guy Boucher        9
65         Guy Charron       24
66         Bob Hartley       20
71      Gerard Gallant       13
97       Bruce Cassidy        6
98        Bob Boughner       13
105     John Torchetti       30
107       John Stevens       26
109    Alain Vigneault        3
111         Lindy Ruff       25
122      Jeff Blashill       17
131        Bill Barber        4
133         Dan Bylsma        7
139  Willie Desjardins       23
142           Tom Rowe       13
150      Ken Hitchcock       19
170           Mike Yeo       19
176       Dave Cameron        9
207     Gerard Gallant       54

In [43]:
s_coach_df= coach_df.sort_values(by='head_coach')
s_coach_df.head(50)

             head_coach  team_id
7527         Adam Oates        1
9957         Adam Oates       15
24918         Al Arbour        2
29030        Al MacNeil       20
44019  Alain Nasreddine        1
42369   Alain Vigneault        4
109     Alain Vigneault        3
36145   Alain Vigneault        8
10081   Alain Vigneault       23
36158      Alpo Suhonen       16
18925       Andy Murray       19
3779        Andy Murray       26
21293     Barry Melrose       14
4430        Barry Trotz       18
10          Barry Trotz       15
42373       Barry Trotz        2
131         Bill Barber        4
7           Bill Peters       12
42348       Bill Peters       20
98         Bob Boughner       13
44287      Bob Boughner       28
1109        Bob Francis       27
21329        Bob Gainey        8
262         Bob Hartley       21
66          Bob Hartley       20
23924       Bob Hartley       11
50677        Bob Murray       24
33623         Brad Shaw        2
21280      Brent Sutter        1
13883      Brent Sutter       20
13580      Brian Sutter       16
49       Bruce Boudreau       24
41       Bruce Boudreau       30
13901    Bruce Boudreau       15
97        Bruce Cassidy        6
45389     Bruce Cassidy       87
28694     Bruce Cassidy       15
38470      Bryan Murray       24
24063      Bryan Murray        9
28656    Bryan Trottier        3
36048      Butch Goring        2
30933        Cap Raeder       28
48        Claude Julien        6
26200     Claude Julien        1
53        Claude Julien        8
18816       Claude Noel       29
9977        Claude Noel       52
13884     Cory Clouston        9
7499       Craig Berube        4
42323      Craig Berube       19

In [44]:
s_coach_df.tail(50)

              head_coach  team_id
28714      Robbie Ftorek        6
42343    Rod Brind'Amour       12
39247      Roger Neilson        9
6773             Ron Low        3
9966         Ron Rolston        7
23749         Ron Wilson       28
10360         Ron Wilson       15
13926         Ron Wilson       10
13907       Scott Arniel       29
14240       Scott Gordon        2
49241       Scott Gordon        4
36038      Scotty Bowman       17
43668      Sheldon Keefe       10
36053       Steve Ludzik       14
31145     Steve Stirling        2
7521           Ted Nolan        7
23812          Ted Nolan        2
36049       Terry Murray       13
13886       Terry Murray       26
28837     Terry O'Reilly        3
42412      Todd McLellan       26
7493       Todd McLellan       28
18         Todd McLellan       22
7518         Todd Nelson       22
42322       Todd Reirden       15
45388       Todd Reirden       88
815        Todd Richards       29
13993      Todd Richards       30
13923         Tom Renney       22
21279         Tom Renney        3
142             Tom Rowe       13
21298       Tony Granato       21
14          Travis Green       23
26253       Trent Yawney       16
21302      Wayne Gretzky       27
48041  Willie Desjardins       26
139    Willie Desjardins       23
40894                NaN       28
40895                NaN       54
40905                NaN       24
40954                NaN       26
40998                NaN       52
41039                NaN       15
41054                NaN        5
41074                NaN       20
41342                NaN       10
41500                NaN       18
41661                NaN       16
41770                NaN        3
41771                NaN        9

In [45]:
s_coach_df[['first_name','last_name']]= s_coach_df['head_coach'].str.split(' ',n=1, expand= True)
s_coach_df

             head_coach  team_id first_name   last_name
7527         Adam Oates        1       Adam       Oates
9957         Adam Oates       15       Adam       Oates
24918         Al Arbour        2         Al      Arbour
29030        Al MacNeil       20         Al     MacNeil
44019  Alain Nasreddine        1      Alain  Nasreddine
...                 ...      ...        ...         ...
41342               NaN       10        NaN         NaN
41500               NaN       18        NaN         NaN
41661               NaN       16        NaN         NaN
41770               NaN        3        NaN         NaN
41771               NaN        9        NaN         NaN

[252 rows x 4 columns]

In [47]:
s_coach_df= s_coach_df.dropna(subset=['first_name'])
s_coach_df

              head_coach  team_id first_name   last_name
7527          Adam Oates        1       Adam       Oates
9957          Adam Oates       15       Adam       Oates
24918          Al Arbour        2         Al      Arbour
29030         Al MacNeil       20         Al     MacNeil
44019   Alain Nasreddine        1      Alain  Nasreddine
...                  ...      ...        ...         ...
14          Travis Green       23     Travis       Green
26253       Trent Yawney       16      Trent      Yawney
21302      Wayne Gretzky       27      Wayne     Gretzky
48041  Willie Desjardins       26     Willie  Desjardins
139    Willie Desjardins       23     Willie  Desjardins

[239 rows x 4 columns]